<ion-view title="Events">
	<ion-content class="has-header padding">
	
		<title-display source="irene2.png" small="Cooking" text="In Pictures"></title-display>

		<div class="row" >
			<div class="col" ng-repeat="firstRowImage in firstRow">
				<gallery-image image="firstRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="secondRowImage in secondRow">
				<gallery-image image="secondRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="thirdRowImage in thirdRow">
				<gallery-image image="thirdRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="forthRowImage in forthRow">
				<gallery-image image="forthRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="fifthRowImage in fifthRow">
				<gallery-image image="fifthRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="sixthRowImage in sixthRow">
				<gallery-image image="sixthRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="seventhRowImage in seventhRow">
				<gallery-image image="seventhRowImage"></galleryImage>
			</div>
		</div>
		
		<div class="row" >
			<div class="col" ng-repeat="eighthRowImage in eighthRow">
				<gallery-image image="eighthRowImage"></galleryImage>
			</div>
		</div>
		
	</ion-content>
</ion-view>  
    