<ion-view title="The Mobile Pizzeria">

    <ion-content scroll="false">
        <div id="mapWrapper" style ="height:60%">
            <div style="border-bottom: solid 1px black">
                <div class="button-bar bar-dark" id="daySelector">
                    <a class="button" ng-click="disMonMarkers(monMarkers)">Mon</a>
                    <a class="button" ng-click="disTueMarkers(tueMarkers)">Tue</a>
                    <a class="button" ng-click="disWedMarkers(wedMarkers)">Wed</a>
                    <a class="button" ng-click="disThurMarkers(thurMarkers)">Thu</a>
                    <a class="button" ng-click="disFriMarkers(friMarkers)">Fri</a>
                </div>
                <p>please select a week day<p>
            </div>
            <!--Map goes here-->
                <google-map ng-if="showMap" center='map.center' zoom="map.zoom" draggable="true">
                    <markers models='map.markerList' coords="'self'" doRebuildAll="true">
                        <windows show="'showWindow'">
                            <div class="locationWindow">
                                <p ng-non-bindable><b>{{location}}</b>{{postCode}}</p>
                                <p ng-non-bindable><b>Serving Between:</b> {{time}}</p>
                                <a ng-non-bindable href="{{phoneNumber}}">
                                    <p ng-non-bindable>{{phoneNumber}}</p>
                                </a>
                            </div>
                        </windows>
                    </markers>
                </google-map>
        </div>

    </ion-content>
	
</ion-view>