
<ion-tabs class="tabs-icon-top">

    <!-- Home Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home" ></ion-nav-view>
    </ion-tab>

    <!-- Catering Tab -->
    <ion-tab title="Catering" icon="icon ion-fork" href="#/tab/catering">
        <ion-nav-view name="tab-catering" ></ion-nav-view>
    </ion-tab>

    <!-- Menu Tab -->
    <ion-tab title="Menu" icon="icon ion-pizza" href="#/tab/pizMenu">
        <ion-nav-view name="tab-pizMenu" ></ion-nav-view>
    </ion-tab>

    <!-- Gallery Tab -->
    <ion-tab title="Gallery" icon="icon ion-images" href="#/tab/gallery">
        <ion-nav-view name="tab-gallery" ></ion-nav-view>
    </ion-tab>

    <!-- Find Us Tab -->
    <ion-tab title="Find Us" icon="icon ion-map" href="#/tab/findUs">
        <ion-nav-view name="tab-findUs" ></ion-nav-view>
    </ion-tab>

    <!-- Contact Us Tab -->
    <ion-tab title="Contact Us" icon="icon ion-compose" href="#/tab/contactUs">
        <ion-nav-view name="tab-contactUs" ></ion-nav-view>
    </ion-tab>



</ion-tabs>
